/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Global */

body {
	font-family:"Roboto",sans-serif;
	line-height:32px;
	font-size:18px;
}

.outer {
	width:100%;
}

.inner {
	max-width:979px;
	margin:auto;
	padding:0 26px;
}

/* Apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Showcase section */

#showcase-section {
	background:#4D8E90;
	padding:80px 0;
	color:#fff;
}

#showcase-section a,
#showcase-section a:visited {
	color:#fff;
}

#showcase-section a:hover {
	color:#1fbba6;
}

#showcase-section select {
	color:#000;
}

/* Demo form */

.demo-form {
	width:200px;
	margin:auto;
	text-align:center;
}

.demo-form > fieldset > div {
	margin-bottom:15px;
}

.demo-form .custom-select-display {
	line-height:normal;
}

.demo-form input[type='submit'],
.demo-form input[type='reset'] {
	background:#1fbba6;
	color:#fff;
	width:70px;
	height:30px;
	border:0;
	padding:0;
	margin:0 3px;
}

/* Showcase buttons */

#showcase-buttons {
	padding:89px 0;
	text-align:center;
}

#showcase-buttons a.button {
	display:inline-block;
	padding:19px 31px;
	color:#9ea7b3;
	font-size:18px;
	font-weight:bold;
	border:2px solid #9ea7b3;
	text-decoration:none;
	margin:0 10px 10px 0;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	min-width:250px;
}

#showcase-buttons a .fa {
	vertical-align:middle;
	margin-right:15px;
}

#showcase-buttons a.button:hover {
	color:#fff;
	background:#1fbba6;
	border-color:#1fbba6;
}

/* Text formatting */

h1 {
	margin:13px 0;
	text-align:center;
	font-size:64px;
	font-weight:300;
	line-height:64px;
}

h2 {
	font-size:40px;
	font-weight:300;
	text-align:center;
	margin:15px 0;
	line-height:40px;
}

a, a:visited {
	color:#9ea7b3;
}

a:hover {
	color:#1fbba6;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}